<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
</style>
<div id="app">
    <p ref="myp">{{msg}}</p>
    <p ref="myp">{{msg}}</p>
    <div v-for="a in arr " ref="mydiv">{{a}}</div>
    <div ref="wrap">
        <div v-for="a in arr " ref="mydiv">{{a}}</div>
    </div>
</div>
<script src = "node_modules/vue/dist/vue.js"></script>
<script>
    //this.$data vm上的数据
    //this.$watch 监控
    //this.$el当前el元素
    //this.$set 后加的属性实现响应式变化
    //this.$options vm上的所有属性
    // this.$nextTick 异步方法 等待dom渲染完成后执行
    let vm = new Vue({
        a:1,
        el:"#app",
        data:{msg:"hello",arr:[1,2,3]},
        mounted(){
            // console.log(document.getElementsByTagName('p')[0].innerHTML)
            console.log(this.$options);
            // setTimeout(()=>{
            //     console.log(vm)//添加定时器后可以取到vm（不推荐） 否则拿不到vm
            // },30)
            this.$nextTick(()=>{//异步方法 等待dom渲染完成后来获取vm
                console.log(vm)
            });
            //this.$refs 如果dom元素不是通过v-for循环出来的，只能获取一个  通过v-for循环过来的获取到多个
            console.log(this.$refs.myp);
            console.log(this.$refs.mydiv);
            this.arr =[1,2,3,4];
            // console.log(this.$refs.wrap,this.$refs.wrap.children.length)//前面是1234 后面的是3 dom映射 dom渲染是异步的
            // debugger;//断点
            this.$nextTick(()=>{//如果数据变化后想获取真实dom中的内容，需要等待页面获取完毕后再获取 所有dom操作最好放在nextTick中
                console.log(this.$refs.wrap);//获取的是4个
                debugger;
            })
        }
    });
</script>
</body>
</html>